:root{
    --cor_primaria: #222831;
        --cor_secundaria: #31363F;
        --title: #EEEEEE;
    }
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    background-color:var(--cor_primaria) ;
    background-image: url('/imagens/Background_codigos.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 16px; /* Tamanho base de fonte */
}

.card-container {
    text-align: center;
    width: 40%;
    
}

main{
    flex: 1;  
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    /*REQUER ATENÇÃO DEPOIS*/
    min-height: 31.25rem;
    max-width: 100%;
    align-items: stretch;

}
.card { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin: 3.125rem;
    background-color: var(--cor_secundaria);
    width: 75%;
    height: 55%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /*REQUER ATENÇÃO DEPOIS*/
    max-width: 28.125rem;
    max-height: 28.125rem;
    gap: 20%;
}

.icon_home_sobre, .icon_home_projetos,.icon_home_competencias{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*REQUER ATENÇÃO DEPOIS*/
    width: 15.75rem;
    transform: scale(0.8);
    /*height: 18.75rem; /* Garantir que a imagem se ajuste ao contêiner */ /*
    border-radius: 10px; /* Adicionar borda arredondada para a imagem */
    max-width: 100%;
}

.content_card{
    width: 0;
    height: 0;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--title);
    font-weight: 800;
    font-size: medium;
    letter-spacing: 0.2em;
    text-align: center;
    transition: opacity 0s ease;
    justify-content: center;

    
}


.card_container:hover .icon_home_sobre,
.card_container:hover .icon_home_projetos,
.card_container:hover .icon_home_competencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0%; 
    left: 18%;
    transform: translate(-50%, -50%); /* centraliza a caixa de conteúdo */
    /*
    width: 6.25rem;
    height: 6.25rem;
    */
    transform: scale(0.4);
    max-width: 100%;
    
    
}

.card_container:hover .content_card{
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease;
    }

.card_container:hover .topico{
    box-shadow: rgba(118, 171, 174, 0.4) -5px 5px, rgba(118, 171, 174, 0.3) -10px 10px, rgba(118, 171, 174, 0.2) -15px 15px, rgba(118, 171, 174, 0.1) -20px 20px, rgba(118, 171, 174, 0.05) -25px 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.topico{
    display: none;
    margin-left: 3.4375rem;
    width: 60%;
    margin-top: 3.125rem;
    font-family: "Teko", sans-serif;;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--title);
    transition: color 0.3s ease-out;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    background-color: var(--cor_secundaria);
    text-align: center;
    font-weight: 400;
}


.redes_sociais {
    display: block; /* Torna as imagens elementos de bloco */
}


.redes_sociais img {
    width: 7%; /* Define um tamanho fixo para os ícones */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 3.125rem;
    max-width: 100%;
}

.perfil {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.foto_perfil {
    width: 12%; /* Define um tamanho fixo para a foto de perfil */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 75px;
    max-width: 100%;
}

.nome {
    font-family: "Teko", sans-serif;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--title);
    align-self: center; /* Alinha verticalmente o texto */
}

a{
    text-decoration: none;
}


@media screen and (max-width:900px) {
    main{
        flex-direction: column;
    }

    .card{
        width: 25%;
        height: 30%;
        margin: 10px auto;
    }

    .icon_home_sobre, .icon_home_projetos,.icon_home_competencias{
        /*REQUER ATENÇÃO*/
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topico{
        box-shadow: rgba(118, 171, 174, 0.4) -5px 5px, rgba(118, 171, 174, 0.3) -10px 10px, rgba(118, 171, 174, 0.2) -15px 15px, rgba(118, 171, 174, 0.1) -20px 20px, rgba(118, 171, 174, 0.05) -25px 25px;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        margin-left: 0.5rem;
    }

    .card_container:hover .icon_home_sobre,
    .card_container:hover .icon_home_projetos,
    .card_container:hover .icon_home_competencias{
        /*REQUER ATENÇÃO DEPOIS*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
        /*
        width: 6.25rem;
        height: 6.25rem;
        */
        transform: scale(0.8);
        max-width: 100%;
    }

    .card_container:hover .content_card{
        width: 0;
        height: 0;
        opacity: 0;
        
    }

    footer {
        padding: 0.5rem; /* Reduz o espaçamento interno */
        gap: 4rem;
    }

    .redes_sociais img {
        width: 15%; /* Reduz a altura das imagens das redes sociais */
        height: 15%;
        margin-right: 0.3rem; /* Reduz a margem entre os ícones das redes sociais */
    }

    .perfil {
        gap: 0.3rem; /* Reduz o espaço entre a foto de perfil e o nome */
    }

    .foto_perfil {
        width: 40%; /* Reduz o tamanho da foto de perfil */
        height: 40%;
    }

    .nome{
        font-size: 20px;
    }
    
    
    
        
    }