:root{
    --cor_primaria: #222831;
    --cor_secundaria: #31363F;
    --cor_terciaria: #76ABAE;
    --title: #EEEEEE;
}
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--cor_primaria) ;
    background-image: url('/imagens/Background_codigos.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1em; /* Tamanho base de fonte */
}

.cabecalho{
    background-color: var(--cor_primaria);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;

}

.cabecalho__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
   
}

.cabecalho__menu__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho__menu__item img{
    width: 50%;
    max-width: 100%;
}

.topico{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /*ATENÇÃO, É PARA O NOME FICAR CENTRALIZADO*/
    width: 50%;
    font-family: "Teko", sans-serif;;
    font-size: medium;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--title);
    transition: opacity 0.3s ease-out;
    margin-right: 50%;
}


#page_atual{
    opacity: 0.25;
    transition: opacity 0.3s ease-out; /* Adiciona uma transição suave */

}


.cabecalho__menu_container:hover .topico {
    opacity: 1; /* Reduz a opacidade de #menu_sobre quando o mouse passa sobre .cabecalho__menu_container */
}

/*CONTEUDOU*/
.apresentacao {
    padding: 5% 4%;
    display: flex;
    align-items: stretch; /* Faz com que os elementos filho estiquem para preencher a altura do contêiner pai */
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__imagem {
    width: 35%;
    margin-right: 3%;
    /*box-shadow e border-radius mantidos para referência */
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(118, 171, 174, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(118, 171, 174, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
    border-radius: 17%;
    max-width: 35%;
}

.apresentacao__conteudo {
    width: 50%;
    max-width: 50%;
    background-color: #EEEEEE;
    padding: 7%;
    border-radius: 17%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: stretch; /* Faz com que os elementos filho estiquem para preencher a altura do contêiner pai */
}

.apresentacao__conteudo__titulo{
    font-size: 3em;
    font-family: var(--font-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.1em;
    font-family: var(--font-secundaria);
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    background-color: var(--cor_secundaria);
    text-align: center;
    font-weight: 400;
}


.redes_sociais {
    display: block; /* Torna as imagens elementos de bloco */
}


.redes_sociais img {
    width: 7%; /* Define um tamanho fixo para os ícones */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 3.125rem;
    max-width: 100%;
}

.perfil {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.foto_perfil {
    width: 12%; /* Define um tamanho fixo para a foto de perfil */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 75px;
    max-width: 100%;
}

.nome {
    font-family: "Teko", sans-serif;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--title);
    align-self: center; /* Alinha verticalmente o texto */
}

a{
    text-decoration: none;
}