:root{
        --cor_primaria: #222831;
        --cor_secundaria: #31363F;
        --cor_terciaria: #76ABAE;
        --title: #EEEEEE;
    }
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    background-color:var(--cor_primaria) ;
    background-image: url('/imagens/Background_codigos.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 16px; /* Tamanho base de fonte */
}

.card-container {
    text-align: center;
    width: 40%;
    
}

main{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4em;
    column-gap: 9.75em;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 3%;
    align-items: stretch;

}
.card_container{
    background-color: var(--cor_secundaria);
    width: 15em;
    height: 18em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5%;

}
    

.card{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.8s;
   
}

.icon_home{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon_home_sobre, .icon_home_projetos,.icon_home_competencias{
    width: 8em;
    height: 8em;
    border-radius: 100%;
    transition: width 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;


}

.content_card{
    width: 0;
    height: 0;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--title);
    font-weight: 800;
    font-size: medium;
    letter-spacing: 0.2em;
    text-align: center;
    transition: opacity 0s ease;
    justify-content: center;

    
}


.card_container:hover .icon_home_sobre,
.card_container:hover .icon_home_projetos,
.card_container:hover .icon_home_competencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    top: 30%;
    transform: translateY(-80%);
    /*
    width: 6.25rem;
    height: 6.25rem;
    */
    max-width: 100%;
    transition: width 0.9s ease-in-out;
    transition: height 0.4s ease-in-out;
    
    
}

.card_container:hover .content_card{
    width: 100%;
    opacity: 1;
    transition: opacity 0.9s ease;
}

.card_container:hover .topico{
    box-shadow: rgba(118, 171, 174, 0.4) -5px 5px, rgba(118, 171, 174, 0.3) -10px 10px, rgba(118, 171, 174, 0.2) -15px 15px, rgba(118, 171, 174, 0.1) -20px 20px, rgba(118, 171, 174, 0.05) -25px 25px;
    display: flex;
    justify-content: center;
    text-align: center;

    
}

.topico{
    display: none;
    width: 100%;
    margin-top: 3.125rem;
    font-family: "Teko", sans-serif;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--title);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    background-color: var(--cor_secundaria);
    text-align: center;
    font-weight: 400;
}


.redes_sociais {
    display: inline-block;
   
}

.redes_sociais .icon_footer img{
    margin-right: 0.825rem;
    width: 5%;
    height: auto;
    max-width: 100%;
    cursor: pointer;

}



.perfil {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.foto_perfil {
    width: 12%; /* Define um tamanho fixo para a foto de perfil */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 75px;
    max-width: 100%;
}

.nome {
    font-family: "Teko", sans-serif;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--title);
    align-self: center; /* Alinha verticalmente o texto */
}

a{
    text-decoration: none;
}

/*POPUP EMAIL*/
.popup {
    display: none;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 7%;
    border-radius: 3%;
    z-index: 9999;
    background-color: var(--cor_terciaria);
}

.popup h2{
    font-family: "Teko", sans-serif;
    margin-bottom: 10%;
}
.popup form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.popup form input,
.popup form textarea {
    margin-bottom: 5%; /* Adiciona um espaço de 10 pixels entre cada elemento */
    width: 20em;
    padding: 2%;
}

.popup form input[type="submit"] {
    margin-top: 5%; /* Adiciona um espaço de 10 pixels acima do botão de envio */
    width: 5em;
    cursor: pointer;
    background-color: white;
    border-radius: 15%;
}

.popup form input[type="submit"]:hover{
    background-color: var(--cor_primaria);
    color: white;
}

.close {
    position: absolute;
    top:1%;
    right: 2%;
    padding: 1%;
    cursor: pointer;
    color: black;

    border-radius: 20%;
    
    
}

.close:hover{
    color: white;
    
}

.email-icon {
    cursor: pointer;
    font-size: 24px;
}

textarea {
    height: 10em;
    resize: none;
}


@media screen and (max-width:1024px) {
    main{
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 20%;
    }

    .card_container{
        width: 10em;
        height: 11em;
        margin-bottom: 15%;
    }

    .icon_home_sobre, .icon_home_projetos,.icon_home_competencias{
        width: 4em;
        height: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 4em;
    }

    .topico{
        box-shadow: rgba(118, 171, 174, 0.4) -5px 5px, rgba(118, 171, 174, 0.3) -10px 10px, rgba(118, 171, 174, 0.2) -15px 15px, rgba(118, 171, 174, 0.1) -20px 20px, rgba(118, 171, 174, 0.05) -25px 25px;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 1rem;
        margin-top: 1em;
       
    }

    .card_container:hover .icon_home_sobre,
    .card_container:hover .icon_home_projetos,
    .card_container:hover .icon_home_competencias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
        transform: scale(1);
    }

    .card_container:hover .content_card{
        width: 0;
        height: 0;
        opacity: 0;
        
    }

    footer {
        padding: 0.5rem; /* Reduz o espaçamento interno */
        gap: 4rem;
    }

    .redes_sociais .icon_footer img {
        width: 15%; /* Reduz a altura das imagens das redes sociais */
        height: 15%;
        margin-right: 0.3rem; /* Reduz a margem entre os ícones das redes sociais */
    }

    .perfil {
        gap: 0.3rem; /* Reduz o espaço entre a foto de perfil e o nome */
    }

    .foto_perfil {
        width: 40%; /* Reduz o tamanho da foto de perfil */
        height: 40%;
    }

    .nome{
        font-size: 0.8rem;
    }
    
    
    
        
    }